root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = false:suggestion
csharp_prefer_braces = true:suggestion
dotnet_diagnostic.CA2007.severity = none

[*.{csproj,props,targets,json,xml}]
indent_size = 2

[*.{ts,js,html,scss,css}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
