<app-page-header
  [title]="'administration.page.title' | t"
  [subtitle]="'administration.page.subtitle' | t"
/>

<mat-tab-group class="ax-tabs">
  @if (canViewSettings()) {
    <mat-tab [label]="'administration.tabs.bankSettings' | t">
      <div class="tab-body">
        <app-bank-settings />
      </div>
    </mat-tab>
  }
  @if (canManageUsers()) {
    <mat-tab [label]="'administration.tabs.bulkUsers' | t">
      <div class="tab-body">
        <app-bulk-users />
      </div>
    </mat-tab>
  }
  @if (canManageSupport()) {
    <mat-tab [label]="'administration.tabs.support' | t">
      <div class="tab-body">
        <app-support-channel />
      </div>
    </mat-tab>
  }
  @if (canInstallReleases()) {
    <mat-tab [label]="'administration.tabs.releases' | t">
      <div class="tab-body">
        <app-releases />
      </div>
    </mat-tab>
  }
  @if (canBackupRestore()) {
    <mat-tab [label]="'administration.tabs.backup' | t">
      <div class="tab-body">
        <app-backup-restore />
      </div>
    </mat-tab>
  }
  @if (canViewHealth()) {
    <mat-tab [label]="'administration.tabs.health' | t">
      <div class="tab-body">
        <app-system-health />
      </div>
    </mat-tab>
  }
</mat-tab-group>
